<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
</div>
<h2>All Tasks </h2>
<button (click)="btnGetAllTask()">Get All Tasks</button>
<ul>
  <li *ngFor="let task of tasks">

    {{task.title}} - 
    <button (click)="btnShowTask(task._id)">Show</button> - 
    <button (click)="btnEditTask(task._id)">Edit</button> - 
    <button (click)="btnDeleteTask(task._id)">Delete</button>
  </li>
</ul>
<div *ngIf="isEditTask" class="editTask">
    <form (submit)="onUpdate()">
        <!-- use the json pipe to see how newTask changes in real time -->
        <p> {{ editTask | json }} </p>
        <label for="">Title:
          <input type="text" name="editTask.title" [(ngModel)]="editTask.title" />
        </label>
        <input type="text" name="editTask.description" [(ngModel)]="editTask.description" />
        <input type="submit" value="Update Task" />
        <button (click)="btnCancelUpdate()">Cancel</button>
    </form>
</div>

<div *ngIf="task.length > 0">
  <h2>{{task[0].title}}</h2>
  <p>{{task[0].description}}</p>
</div>

<div class="newTask">
    <form (submit)="onSubmit()">
        <!-- use the json pipe to see how newTask changes in real time -->
        <p> {{ newTask | json }} </p>
        <label for="">Title:
          <input type="text" name="newTask.title" [(ngModel)]="newTask.title" />
        </label>
        <input type="text" name="newTask.description" [(ngModel)]="newTask.description" />
        <input type="submit" value="Create Task" />
    </form>
</div>